/* 字体包样式 */

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?3ig58f');
  src: url('../fonts/icomoon.eot?3ig58f#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?3ig58f') format('truetype'), url('../fonts/icomoon.woff?3ig58f') format('woff'), url('../fonts/icomoon.svg?3ig58f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\f067";
}

.icon-minus:before {
  content: "\f068";
}

.icon-search:before {
  content: "\f002";
}

.icon-envelope-o:before {
  content: "\f003";
}

.icon-heart:before {
  content: "\f004";
}

.icon-star:before {
  content: "\f005";
}

.icon-star-o:before {
  content: "\f006";
}

.icon-user:before {
  content: "\f007";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-th:before {
  content: "\f00a";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-check:before {
  content: "\f00c";
}

.icon-close:before {
  content: "\f00d";
}

.icon-remove:before {
  content: "\f00d";
}

.icon-times:before {
  content: "\f00d";
}

.icon-search-plus:before {
  content: "\f00e";
}

.icon-search-minus:before {
  content: "\f010";
}

.icon-power-off:before {
  content: "\f011";
}

.icon-cog:before {
  content: "\f013";
}

.icon-gear:before {
  content: "\f013";
}

.icon-trash-o:before {
  content: "\f014";
}

.icon-home:before {
  content: "\f015";
}

.icon-clock-o:before {
  content: "\f017";
}

.icon-arrow-circle-o-down:before {
  content: "\f01a";
}

.icon-arrow-circle-o-up:before {
  content: "\f01b";
}

.icon-repeat:before {
  content: "\f01e";
}

.icon-rotate-right:before {
  content: "\f01e";
}

.icon-refresh:before {
  content: "\f021";
}

.icon-lock:before {
  content: "\f023";
}

.icon-qrcode:before {
  content: "\f029";
}

.icon-barcode:before {
  content: "\f02a";
}

.icon-tag:before {
  content: "\f02b";
}

.icon-book:before {
  content: "\f02d";
}

.icon-bookmark:before {
  content: "\f02e";
}

.icon-camera:before {
  content: "\f030";
}

.icon-image:before {
  content: "\f03e";
}

.icon-photo:before {
  content: "\f03e";
}

.icon-picture-o:before {
  content: "\f03e";
}

.icon-pencil:before {
  content: "\f040";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-edit:before {
  content: "\f044";
}

.icon-pencil-square-o:before {
  content: "\f044";
}

.icon-share-square-o:before {
  content: "\f045";
}

.icon-check-square-o:before {
  content: "\f046";
}

.icon-arrows:before {
  content: "\f047";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-plus-circle:before {
  content: "\f055";
}

.icon-minus-circle:before {
  content: "\f056";
}

.icon-times-circle:before {
  content: "\f057";
}

.icon-check-circle:before {
  content: "\f058";
}

.icon-question-circle:before {
  content: "\f059";
}

.icon-info-circle:before {
  content: "\f05a";
}

.icon-times-circle-o:before {
  content: "\f05c";
}

.icon-check-circle-o:before {
  content: "\f05d";
}

.icon-ban:before {
  content: "\f05e";
}

.icon-arrow-left:before {
  content: "\f060";
}

.icon-arrow-right:before {
  content: "\f061";
}

.icon-arrow-up:before {
  content: "\f062";
}

.icon-arrow-down:before {
  content: "\f063";
}

.icon-mail-forward:before {
  content: "\f064";
}

.icon-share:before {
  content: "\f064";
}

.icon-exclamation-circle:before {
  content: "\f06a";
}

.icon-eye:before {
  content: "\f06e";
}

.icon-eye-slash:before {
  content: "\f070";
}

.icon-exclamation-triangle:before {
  content: "\f071";
}

.icon-warning:before {
  content: "\f071";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-comment:before {
  content: "\f075";
}

.icon-chevron-up:before {
  content: "\f077";
}

.icon-chevron-down:before {
  content: "\f078";
}

.icon-comments:before {
  content: "\f086";
}

.icon-thumbs-o-up:before {
  content: "\f087";
}

.icon-thumbs-o-down:before {
  content: "\f088";
}

.icon-heart-o:before {
  content: "\f08a";
}

.icon-external-link:before {
  content: "\f08e";
}

.icon-phone:before {
  content: "\f095";
}

.icon-bookmark-o:before {
  content: "\f097";
}

.icon-unlock:before {
  content: "\f09c";
}

.icon-arrow-circle-left:before {
  content: "\f0a8";
}

.icon-arrow-circle-right:before {
  content: "\f0a9";
}

.icon-arrow-circle-up:before {
  content: "\f0aa";
}

.icon-arrow-circle-down:before {
  content: "\f0ab";
}

.icon-wrench:before {
  content: "\f0ad";
}

.icon-group:before {
  content: "\f0c0";
}

.icon-users:before {
  content: "\f0c0";
}

.icon-caret-down:before {
  content: "\f0d7";
}

.icon-caret-up:before {
  content: "\f0d8";
}

.icon-caret-left:before {
  content: "\f0d9";
}

.icon-caret-right:before {
  content: "\f0da";
}

.icon-sort:before {
  content: "\f0dc";
}

.icon-unsorted:before {
  content: "\f0dc";
}

.icon-sort-desc:before {
  content: "\f0dd";
}

.icon-sort-down:before {
  content: "\f0dd";
}

.icon-sort-asc:before {
  content: "\f0de";
}

.icon-sort-up:before {
  content: "\f0de";
}

.icon-envelope:before {
  content: "\f0e0";
}

.icon-comment-o:before {
  content: "\f0e5";
}

.icon-comments-o:before {
  content: "\f0e6";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-up:before {
  content: "\f106";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-tablet:before {
  content: "\f10a";
}

.icon-smile-o:before {
  content: "\f118";
}

.icon-frown-o:before {
  content: "\f119";
}

.icon-chevron-circle-left:before {
  content: "\f137";
}

.icon-chevron-circle-right:before {
  content: "\f138";
}

.icon-chevron-circle-up:before {
  content: "\f139";
}

.icon-chevron-circle-down:before {
  content: "\f13a";
}

.icon-unlock-alt:before {
  content: "\f13e";
}

.icon-check-square:before {
  content: "\f14a";
}

.icon-pencil-square:before {
  content: "\f14b";
}

.icon-commenting:before {
  content: "\f27a";
}

.icon-commenting-o:before {
  content: "\f27b";
}
